<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin - Accounts</title>
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/table.css">
  <link rel="stylesheet" href="css/modal.css">
</head>
<body>
<nav>
  <span class="logo">Cinema</span>
  <a href="index.html">Home</a>
  <a href="movies.html">Movies</a>
  <a href="promotions.html">Promotions</a>
  <a href="accounts.html">Accounts</a>
  <a href="transactions.html">Transactions</a>
</nav>
<main style="padding: 20px; color: white">
  <h1>Accounts</h1>
  <div class="search-container">
    <input type="text" placeholder="Search...">
    <button type="submit">Search</button>
    <button class="add-btn">Add</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Username</th>
      <th>User since</th>
      <th>Permission</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>account1@gmail.com</td>
      <td>March 21</td>
      <td>User</td>
      <td>
        <button class="delete-btn">Delete</button>
        <button class="edit-btn">Edit</button>
      </td>
    </tr>
    <tr>
      <td>account2@gmail.com</td>
      <td>April 21</td>
      <td>User</td>
      <td>
        <button class="delete-btn">Delete</button>
        <button class="edit-btn">Edit</button>
      </td>
    </tr>
    <tr>
      <td>admin@gmail.com</td>
      <td>Jan 21</td>
      <td>Admin</td>
      <td>
        <button class="delete-btn">Delete</button>
        <button class="edit-btn">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- ADD -->
  <div id="add-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Add Account</h2>
      <form>
        <label for="promotion-name">Username</label>
        <input type="text" id="promotion-name" name="promotion-name" required><br>


        <label for="promotion-status">Permission:</label>
        <select id="promotion-status" name="promotion-status">
          <option value="active">Admin</option>
          <option value="expired">User</option>
        </select><br>

        <button type="submit">Add account</button>
      </form>
    </div>
  </div>

  <!-- EDIT -->
  <div id="editPromotionModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Edit Promotion</h2>
      <form>
        <label for="promotion-name">Username</label>
        <input type="text" id="promotion-name-edit" name="promotion-name" required><br>


        <label for="promotion-status">Permission:</label>
        <select id="promotion-status-edit" name="promotion-status">
          <option value="active">Admin</option>
          <option value="expired">User</option>
        </select><br>

        <button type="submit" class="save-btn">Save Changes</button>
      </form>
    </div>
  </div>
</main>
<script src="script.js"></script>
</body>

</html>
