<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - Movies</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/modal.css">

</head>
<body>
<nav>
    <span class="logo">Cinema</span>
    <a href="index.html">Home</a>
    <a href="movies.html">Movies</a>
    <a href="promotions.html">Promotions</a>
    <a href="accounts.html">Account</a>
    <a href="transactions.html">Transactions</a>
</nav>
<main style="padding: 20px; color: white">
    <h1>Movies</h1>
    <div class="search-container">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
        <button class="add-btn">Add</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Showing Time</th>
            <th>Seats</th>
            <th>Price</th>
            <th>Cast</th>
            <th>Trailer URL</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>One Piece</td>
            <td>E</td>
            <td>Feb 20</td>
            <td>30/50</td>
            <td>$8</td>
            <td>Starring Michael Jordan</td>
            <td>https://www.youtube.com/</td>
            <td>
                <button class="delete-btn">Delete</button>
                <button class="edit-btn">Edit</button>
            </td>
        </tr>
        <tr>
            <td>Pokemon</td>
            <td>E</td>
            <td>Feb 21</td>
            <td>42/50
            <td>$8</td>
            <td>Starring Michael Jordan</td>
            <td>https://www.youtube.com/</td>
            <td>
                <button class="delete-btn">Delete</button>
                <button class="edit-btn">Edit</button>
            </td>
        </tr>
        <tr>
            <td>Yu Gi Oh</td>
            <td>E</td>
            <td>Marc 21</td>
            <td>22/50</td>
            <td>$8</td>
            <td>Starring Michael Jordan</td>
            <td>https://www.youtube.com/</td>
            <td>
                <button class="delete-btn">Delete</button>
                <button class="edit-btn">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!--    MODAL -->
    <div id="add-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Movie</h2>
            <form>
                <label for="promotion-name">Name:</label>
                <input type="text" id="promotion-name" name="promotion-name" required>

                <label for="promotion-key">Rating:</label>
                <input type="text" id="promotion-key" name="promotion-key" required>

                <label for="promotion-value">Cast</label>
                <input type="text" id="promotion-value" name="promotion-value" required>

                <label for="promotion-value">Movie Price</label>
                <input type="text" id="movie-price" name="movie-price" required>

                <label for="promotion-value">Cast</label>
                <input type="text" id="movie-cast" name="movie-price" required>

                <label for="promotion-value">Trailer URL</label>
                <input type="text" id="movie-trailer" name="movie-price" required> <br>


                <button type="submit" class="save-btn">Add Movie</button>
            </form>
        </div>
    </div>

    <!-- EDIT -->
    <div id="editPromotionModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit Movie</h2>
            <form>
                <label for="promotionName">Movie:</label>
                <input type="text" id="promotionName" name="promotionName">

                <label for="promotionKey">Rating</label>
                <input type="text" id="promotionKey" name="promotionKey">

                <label for="promotionValue">Showing Time</label>
                <input type="text" id="promotionValue" name="promotionValue">

                <label for="promotion-value">Movie Price</label>
                <input type="text" id="movie-price-edit" name="movie-price" required>

                <label for="promotion-value">Cast</label>
                <input type="text" id="movie-cast-edit" name="movie-price" required>

                <label for="promotion-value">Trailer URL</label>
                <input type="text" id="movie-trailer-edit" name="movie-price" required> <br>


                <button type="submit" class="save-btn">Save Changes</button>
            </form>
        </div>
    </div>
</main>

<script src="script.js"></script>
</body>
</html>
