{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
<div class="container h-75  pt-5">
<div class="row ml-auto">
<div class="col ml-auto">
<div class="card">
   <div class="card-body p-5">
      `
      <h1 class="text-uppercase text-center mb-5">Edit Payment Card Details</h1>
      <form method="post" action="edit_card">
         {% csrf_token %}
         {% comment %}  {% endcomment %}
         </br></br>
         {% for i in cards %}
         <div class="card border border-dark text-white bg-info mb-3" style="border-radius:25px">
            <span class="button">
            <button type="submit" style="margin:20px"
            value="{{i.id}}" name="delete" {{i.id}} class="btn btn-danger btn-rounded" data-mdb-ripple-color="#ffffff"><i class="fas fa-trash"></i></button>
            </span>
            <div class="card-body p-2">
               <blockquote class="card-blockquote">
                  <div class="row ml-auto">
                     <div class="col ml-auto">
                        <h5 class="card-title">Card Holder Name</h5>
                     </div>
                     <div class="col ml-auto">
                        <input type="text" id="cardHolderName" class="form-control form-control-lg" readonly
                           value="{{ i.cardHolderName }}">
                     </div>
                  </div>
                  <div class="form-outline mb-4 row ml-auto py-4">
                     <div class="col ml-auto">
                        <h5 class="card-title">Card Number ending with </h5>
                     </div>
                     <div class="col ml-auto"><input type="text"  class="form-control form-control-lg"
                        readonly value="xxxx-xxxx-xxxx-{{ i.last_four }}"> </div>
                  </div>
                  <div class="form-outline mb-4 row ml-auto">
                     <div class="col ml-auto">
                        <h5 class="card-title">Exp. Date</h5>
                     </div>
                     <div class="col ml-auto"></div>
                     <div class="col ml-auto">
                        <input type="text" id="id_month{{i}}" class="form-control form-control-lg"
                           value="{{i.expiryDate}}">
                     </div>
                  </div>
               </blockquote>
            </div>
         </div>
         {% endfor %}
         {% comment %}  {% endcomment %}
      </form>
      </br></br>
      </br></br>
      {% comment %} {% if is_new %} {% endcomment %}
      <div class="card border border-dark text-white bg-info mb-3" style="border-radius:25px">
         <span class="close">&times;<button type="submit" style="margin:20px"
            class="btn btn-danger btn-rounded" data-mdb-ripple-color="#ffffff"><i class="fas fa-trash"></i></button>
         </span>
         <div class="card-body p-2">
            <div class="row ml-auto">
               <div class="card-body p-2">
                  <div class="row ml-auto">
                     <div class="col ml-auto">
                        <h5 class="card-title">Card Holder Name</h5>
                     </div>
                     <div class="col ml-auto">
                        <input type="text" name="cardHolderNameInput"
                               class="form-control form-control-lg">
                     </div>
                  </div>
                  <div class="form-outline mb-4 row ml-auto py-4">
                     <div class="col ml-auto">
                        <h5 class="card-title">Card Number ending with </h5>
                     </div>
                     <div class="col ml-auto"><input type="text"  class="form-control form-control-lg"
                                                     name="cardNumInput"> </div>
                  </div>
                  <div class="form-outline mb-4 row ml-auto">
                     <div class="col ml-auto"><label class="form-label" >Exp. Date</label></div>
                     <div class="col ml-auto"></div>
                     <div class="col ml-auto"></div>
                     <div class="col ml-auto">
                        <select name='expiryDate' id='expiredate' required>
                           <option value=''>Month</option>
                           <option value='01'>01</option>
                           <option value='02'>02</option>
                           <option value='03'>03</option>
                           <option value='04'>04</option>
                           <option value='05'>05</option>
                           <option value='06'>06</option>
                           <option value='07'>07</option>
                           <option value='08'>08</option>
                           <option value='09'>09</option>
                           <option value='10'>10</option>
                           <option value='11'>11</option>
                           <option value='12'>12</option>
                        </select>
                     </div>
                     <div class = "col ml-auto">
                        <select name='expiryYear' required>
                           <option value=''>Year</option>
                           <option value='21'>2023</option>
                           <option value='22'>2024</option>
                           <option value='23'>2025</option>
                           <option value='24'>2026</option>
                           <option value='25'>2027</option>
                        </select>
                        </br></br>
                        </span>
                        <div class="card-body p-2"></div>
                     </div>
                  </div>
               </div>
               {% comment %} {% endif %} {% endcomment %}
               <button class="btn btn-outline-success" type="submit"
                  style="width:200px;margin-left:450px;margin-bottom:20px"
                  name="addcard" value="addcard">Add a New Card</button>
               <div style="text-align: center;"><button class="btn btn-success" type="submit" value="save" name="save">Save</button>
                  <button class="btn btn-danger" type="submit">Cancel</button>
               </div>

               {% comment %} {% if messages %} {% endcomment %}
               {% for message in messages %}
               <h3>{{message}}</h3>
               {% endfor %}
               {% comment %} {% endif %} {% endcomment %}
               </form></br></br>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
</div>

{% endblock %}