{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% comment %} {% block title %}Enter new password{% endblock %} {% endcomment %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title></title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Set a new password!</h2>
<form method="POST">
   {% csrf_token %}
    {% comment %} {% if first_name %} {% endcomment %}

      {% comment %} <p>Hi <b>{{first_name}} </b></p> {% endcomment %}
        
    {% comment %} {% else %} {% endcomment %}
    <table>
        <tr><td>Enter your new password</td><td><input  class = "form-control form-control-lg" type="password" name="new_password" id="new_password" onInput = "check()" maxlength="30" /></td></tr>
        <tr><td><div id="check0" style = "color:grey">
          <i class="far fa-check-circle"></i>  <span> Length more than 8.</span>
        </div>
        <div id="check1" style = "color:grey">
          <i class="far fa-check-circle"></i>  <span> Contain atleast one numeric.</span>
        </div>
        <div id="check2" style = "color:grey">
          <i class="far fa-check-circle"></i>  <span> Contain atleast one symbol.</span>
        </div></td></tr>
       </br><tr><td>Confirm your new password</td><td><input  class = "form-control form-control-lg" type="password" name="reset_password" id="reset_password" onInput = "check1()" maxlength="30" /></td></tr>
       <tr><td><div id="check3" style = "color:grey">
        <i class="far fa-check-circle"></i>  <span> Passwords Matched.</span>
      </div></td></tr>
        </br></table></br>
    {% comment %} {% endif %} {% endcomment %}
  <input type="submit" value="Change Password"
                       class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" />

</form>
<script>
  function check(){
    var input = document.getElementById("new_password").value;
    var input1 = document.getElementById("reset_password").value;

    if(input.length >=8){
        document.getElementById("check0").style.color = "green";
    }
    else{
      document.getElementById("check0").style.color = "red";
    }

    if(input.match(/[0-9]/i))
    {
        document.getElementById("check1").style.color="green";
    }
    else
    {
       document.getElementById("check1").style.color="red"; 
    }

    if(input.match(/[^A-Za-z0-9-' ']/i))
    {
        document.getElementById("check2").style.color="green";
    }
    else
    {
       document.getElementById("check2").style.color="red"; 
    }
}

  function check1(){
    var input = document.getElementById("new_password").value;
    var input1 = document.getElementById("reset_password").value;

    if(input1 == input){
      document.getElementById("check3").style.color="green";
    }
    else{
      document.getElementById("check3").style.color = "red";
    }
  }
</script>
                <p class="text-center text-muted mt-5 mb-0"><a href="/">E-Cinema Booking System</a></p>
                {% if messages %}
        {% for message in messages %}
          <h3>{{message}}</h3>
        {% endfor %}
    {% endif %}
              </div></div></div></div></div></div>

{% endblock %}